[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
sqlalchemy = "*"
"e1839a8" = {editable = true, path = "."}

[dev-packages]
ipython = "*"
setuptools = "*"
wheel = "*"
twine = "*"
"collective.checkdocs" = "*"

[requires]
python_version = "3.7"
